body {
    font-family: Arial, sans-serif;
    background-color: #df8989;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 30px auto;
    background-color: #ffe0e0;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
    color: #df8989;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #b94f7b;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #c46fb1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffbcd8;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
